<div class="banner">
  <h1>Save any kind of movies</h1>
</div>

<div class="container">
  <div class="d-flex justify-content-between mt-5 align-items-center">
    <h2>My lists</h2>
    <%= link_to "Create a movie list", new_list_path, class:"button-add" %>
  </div>

  <ul class="container-lists">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <li>
          <div class="my-card card-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key, width: 1000, height: 500 ,crop: :thumb, gravity: :face) : asset_path('cinema.jpg') %>)">
            <%= list.name %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
